{% extends 'base.html' %}
{% block title %}Enter new password{% endblock %}

{% block content %}
{% load static %}
<head>
  <meta charset="utf-8">
  <title>Enter New Password</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href=" {% static 'site.webmanifest' %} ">


  <link rel="stylesheet" href=" {% static 'login/css/normalize.css' %} ">
  <link rel="stylesheet" href=" {% static 'login/css/main.css' %} ">
  <link rel="stylesheet" href=" {% static 'login/css/styles.css' %} ">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
  crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/b7e1ed973e.js" crossorigin="anonymous"></script>

  <meta name="theme-color" content="#fafafa">

  <!-- background -->
  <style>
    body {
    background-color: #1f1815;
		background-attachment: scroll;
		background-image: url(" {% static 'login/img/bg.jpg' %} ");
		background-position: top left;
		background-repeat: no-repeat;
		background-size: cover;
    }
  </style>

</head>
<!--Code Starts Here-->
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#" id="form" method="POST">
      {% csrf_token %}
      <h1>Create New Password</h1>

      {% if validlink %}
      <div class="form-control">
        {{ form.new_password1.label }}
        {{ form.new_password1 }}
      </div>

      <div class="form-control">
        {{ form.new_password2.label }}
        {{ form.new_password2 }}
      </div>
      <button type="submit" class="recvButton">Submit</button>

      {% else %}
      <h3>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</h3>
      <a class="recvButton" href=" {% url 'password_reset' %} ">go back to password reset</a>
      {% endif %}
		</form>

	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
          {% if validlink %}
          <h1>Enter your new password and continue your journey with us!</h1>

          {% else %}
          <h1>Woah There!</h1>
          {% endif %}

      </div>
		</div>
	</div>
</div>

  <script src=" {% static 'login/js/plugins.js' %} "></script>
  <script src=" {% static 'login/js/button_action.js' %} "></script>
  <script src=" {% static 'login/js/scripts.js' %} "></script>

{% endblock %}

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <!--
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
  -->

