{% extends 'base.html' %}
{% block content %}


{% load static %}
<head>
  <meta charset="utf-8">
  <title>Forgot Your Password?</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

 
  <link rel="stylesheet" href=" {% static 'login/css/normalize.css' %} ">
  <link rel="stylesheet" href=" {% static 'login/css/main.css' %} ">
  <link rel="stylesheet" href=" {% static 'login/css/styles.css' %} ">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
  crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/b7e1ed973e.js" crossorigin="anonymous"></script>

  <meta name="theme-color" content="#fafafa">

  <!-- background -->
  <style>
    body {
    background-color: #1f1815;
		background-attachment: scroll;
		background-image: url(" {% static 'login/img/bg.jpg' %} ");
		background-position: top left;
		background-repeat: no-repeat;
		background-size: cover;
    }
  </style>

</head>
<!--Code Starts Here-->
<div class="container" id="container">
	<div class="form-container" class="sign-in-container">
		<form action="#" id="form" method="POST">
      <div class="recvTitle">
			  <h1>Account Recovery</h1>
      </div>

			<div class="social-container recvIcon">
				<ul>
          <li><a href="#" class="social"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#" class="social"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a href="#" class="social"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
			</div>
			<span>or use your email</span>
      {% csrf_token %}
      {{ form.email }}
      <!--
			<div class="form-control">
        <input class= "form-control" type="email" id="email" placeholder="Email" />
      </div>
      -->

      <button class="recvButton" onclick="checkInputsPswrdRecv()">Reset Password</button>
      <a class="recvButton" href=" {% url 'login' %} ">Go Back to Login</a>
		</form>

	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
        <div class="recvTitle">
          <h1>Forgot your Password? That's Okay!</h1>
          <h3>Please enter your personal credentials and continue your journey with us!</h3>
        </div>
			</div>
		</div>
  </div>
</div>

  <script type="text/javascript" src=" {% static 'login/js/scripts.js' %} "></script>
  <script src=" {% static 'login/js/plugins.js' %} "></script>
  <!-- <script src=" {% static 'login/js/scripts.js' %} "></script>-->

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <!--
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
  -->
{% endblock %}
