<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <p></br></br></p>
    <title>User Information</title>
  </head>
  <body style="background-color:purple;">
    <!-- Display Title -->
    <h1  class="text-white text-center">User Information</h1>
    <p></br></br></p>
    <!-- Card for Profile Information -->
    <div class="card align-item-center text-white bg-secondary" style="width: 21.5em;margin:0 auto;">
        <div class="card-body" style="background-color: .bg-secondary.bg-gradient;">
            <!-- Organized table within card -->
            <div class="container">
                <!-- Row1 -->
                <div class="row">
                    <div class="col align-self-start">
                        Name:
                    </div>
                    <div class="col align-self-end" id="name">
                        {{ firstname }}
                        {{ lastname }}
                    </div>
                </div>
                <!-- Row2 -->
                <div class="row">
                    <div class="col align-self-start">
                        Username:
                    </div>
                    <div class="col align-self-end" id="uname">
                        {{ username }}
                    </div>
                </div>
                <!-- Row3 -->
                <div class="row">
                    <div class="col align-self-start">
                        Email:
                    </div>
                    <div class="col align-self-end" id="email">
                        {{ email }}
                    </div>
                </div>
                <!-- Row4 -->
                <div class="row">
                    <div class="col align-self-start">
                        Instructor status:
                    </div>
                    <div class="col align-self-end" id="ins">
                        {{ instructor }}
                    </div>
                </div>
                <!-- Row5 -->
                <div class="row">
                    <div class="col align-self-start">
                        Courses:
                    </div>
                    <div class="col align-self-end">
                        <p>
                            {% for cour in courses.all %}
                                {{ cour.name_short}}<br/>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>