{% extends 'base.html' %}

{% block content %}

<!--Code Starts Here-->
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#" id="form" method="POST">
      {% csrf_token %}

      <h1>Create Account</h1>
			<div class="social-container">
        <ul>
				<li><a href="#" class="social"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="#" class="social"><i class="fab fa-google-plus-g"></i></a></li>
				<li><a href="#" class="social"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
			<span>or use your email for registration</span>

      <div class="form-control">
        <input type="text" id="username" placeholder="Name" />
      </div>

      <div class="form-control">
        <input type="email" id="email" placeholder="Email" />
      </div>

      <div class="form-control">
        <input type="password" id="password" placeholder="Password" />
      </div>

      <div class="form-control">
        <input type="password" id="password2" placeholder="Confirm Password" />
      </div>


      <button type="submit" class="recvButton" onclick="checkInputsSignUp()">Sign Up</button>
		</form>
	</div>

	<div class="form-container sign-in-container">
		<form action="#" id="form" method="POST">
      {% csrf_token %}

      <h1>Sign in</h1>
			<div class="social-container">
				<ul>
          <li><a href="#" class="social"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#" class="social"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a href="#" class="social"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
			</div>
			<span>or use your account</span>

			<div class="form-control">
        <input type="email" id="email" placeholder="Email" />
      </div>

      <div class="form-control">
        <input type="password" id="password" placeholder="Password" />
      </div>

			<button type="submit" class="recvButton">Sign In</button>

      <a class="recvButton" href=" {% url 'password_reset' %} ">Forgot your password?</a>

		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Wait... I Already Have an Account</h1>
				<p>Please sign-in with your current account to access your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Don't Have an Account?</h1>
				<p>Enter your personal details and start your journey with us!</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

  {% load static %}
  <script src=" {% static 'js/plugins.js' %} "></script>
  <script src=" {% static 'js/button_action.js' %} "></script>
  <script src=" {% static 'js/scripts.js' %} "></script>

{% endblock %}

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <!--
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
  -->

