{% extends 'base.html' %}

{% block content %}
<!--Code Starts Here-->
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#" id="form" method="POST">
      <h1>Create Account</h1>
			<div class="social-container">
        <ul>
				<li><a href="#" class="social"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="#" class="social"><i class="fab fa-google-plus-g"></i></a></li>
				<li><a href="#" class="social"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
			<span>or use your email for registration</span>

      {% csrf_token %}
      <div class="form-control">
        {{ register.username }}
      </div>

      <div class="form-control">
        {{ register.email }}
      </div>

      <div class="form-control">
        {{ register.password1 }}
      </div>

      <div class="form-control">
        {{ register.password2 }}
      </div>

      <button type="submit" class="recvButton" onclick="checkInputsSignUp()">Sign Up</button>
		</form>
    <script>
      //Query All input fields
      var form_fields = document.getElementsByTagName('input')
      form_fields[1].placeholder='Username';
      form_fields[2].placeholder='Email';
      form_fields[3].placeholder='Password';
      form_fields[4].placeholder='Confirm Password';

      for (var field in form_fields){
      form_fields[field].className += ' form-control';
      }
    </script>
	</div>
	<div class="form-container sign-in-container">
		<form action="#" id="form" method="POST">

      {% for message in messages %}
      <p>{{message}}</p>
      {% endfor %}

      <h1>Sign in</h1>
			<div class="social-container">
				<ul>
          <li><a href="#" class="social"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#" class="social"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a href="#" class="social"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
			</div>
			<span>or use your account</span>

      {% csrf_token %}

			<div class="form-control">
        <input name="username" type="username" id="username" placeholder="Username" />
      </div>

      <div class="form-control">
        <input name="password" type="password" id="password" placeholder="Password" />
      </div>

      <input type="hidden" name="button-name" id="button-name" value="" />
			<button type="submit" class="recvButton" id="signIn-action">Sign In</button>

      <a class="recvButton" href=" {% url 'password_reset' %} ">Forgot your password?</a>

		</form>

	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Wait... I Already Have an Account</h1>
				<p>Please sign-in with your current account to access your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Don't Have an Account?</h1>
				<p>Enter your personal details and start your journey with us!</p>

				<button class="ghost" id="signUp" >Sign Up</button>

      </div>
		</div>
	</div>
</div>

  {% load static %}
  <script src=" {% static 'js/plugins.js' %} "></script>
  <script src=" {% static 'js/button_action.js' %} "></script>
  <script src=" {% static 'js/scripts.js' %} "></script>

{% endblock %}

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <!--
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
  -->

