.baseframe {
    display: grid;
    grid-template-columns: 30% 70%;
    /*grid-column-gap: 20px;*/
    width: 100%;
    min-height: 200px;
    height: calc(100vh - 100px);

    font-family: PT Sans;

    background: #FFFFFF;
}

.select_thread_frame {
    border: 2px solid #000000;
    /*position: absolute;*/
    grid-template-rows: 100px;
    width: 100%;
    height: 100%;

    font-family: PT Sans;

    background: #FEE6EB;
}

.display_thread_frame {
    border: 2px solid #000000;
    overflow:auto;
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    font-family: PT Sans;

    background: #FEE6EB;
}

.thread_selection_box {
    grid-template-rows: max-content;
    /*position: absolute;*/
    width: 100%;
    height: 100px;

    text-align: center;

    background: #FFD3D3;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.post_box {
    grid-template-rows: max-content;
    width: 100%;
    height: 100px;

    text-align: center;

    background: #FFE3E3;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.board_title {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    text-align: center;

    color: #000000;
}
