body {
    background: #FFFFFF;
    overflow: hidden;
    font-family: PT Sans;
}
.baseframe {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    min-height: 200px;
    height: calc(100vh - 100px);

    font-family: PT Sans;

    background: #ffffff;
}

.select_thread_frame {
    border: 2px solid #000000;
    grid-template-rows: 100px;
    width: 100%;
    height: 100%;

    font-family: PT Sans;

    background: #FEE6EB;
}

.display_thread_frame {
    border: 2px solid #000000;
    /*overflow:auto;*/
    width: 100%;
    height: 100%;
    font-family: PT Sans;

    background: #FEE6EB;
}

.thread_selection_box {
    grid-template-rows: max-content;
    width: 100%;
    height: 100px;

    text-align: center;

    cursor: pointer;

    font-size: 30px;
    font-weight: bold;

    background: #FFD3D3;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.post_box {
    grid-template-rows: max-content;
    width: 100%;
    /*height: 100px;*/
    text-align: left;
    text-indent: 30px;
    text-justify: distribute;

    cursor: default;

    font-size: 16px;
    /*overflow: clip;*/
    /*overflow-wrap:break-word;*/

    padding: 10px 20px 10px 20px;
    

    background: #FFE3E3;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.board_title {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    text-align: center;

    width: 100%;
    height: 100px;

    cursor: default;

    color: #000000;
}

.make_thread_btn {
    background-color: #FF8080;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;

    width: 30%;

    cursor: pointer;
}

.new_post_btn {
    grid-template-rows: max-content;
    width: 20%;
    height: 20px;

    text-align: center;

    cursor: pointer;

    background: #FFE3E3;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
