body {
    background: #FFFFFF;
    font-family: PT Sans;
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-rows: 7vh 90vh 3vh;
}
.baseframe {
    display: grid;
    width: 100%;
    grid-template-columns: 30vw 70vw;
    font-family: PT Sans;
    border-top: 2px solid #c4c4c4;
    border-bottom: 2px solid #c4c4c4;

    background: #9e9c9c;
}

.select_thread_frame {
    border-radius: 0px;

    background: #ffffff;
}

.select_thread_frame_outer {
    width: 100%;
    padding: 10px;
    overflow:scroll;

    background: #f0f0f0;
}

.display_thread_frame {
    border: 1px solid #000000;
    overflow:hidden;
}

.display_thread_frame_outer {
    border-left: 2px solid #c4c4c4;
    width: 100%;
    height: 100%;
    font-family: PT Sans;
    overflow:scroll;

    background: #f0f0f0;
}

.thread_selection_box {
    grid-template-rows: max-content;
    width: 100%;
    height: 100px;

    text-align: center;

    cursor: pointer;

    font-size: 30px;
    font-weight: bold;

    background: #FFD3D3;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.post_box {
    grid-template-rows: max-content;
    width: 100%;
    text-align: left;
    text-indent: 30px;
    text-justify: distribute;
    cursor: default;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    
    background: #FFE3E3;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.board_title {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    text-align: center;

    width: 100%;
    height: 100px;

    cursor: default;

    color: #000000;
}

.make_thread_btn_frame {
    background-color: #ffffff;
    border: none;
    display: grid;
    grid-template-columns: 30vw 70vw;
}

.new_post_btn {
    grid-template-rows: max-content;
    width: 20%;
    height: 20px;

    text-align: center;

    cursor: pointer;

    background: #FFE3E3;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
