<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <style>
        body, html{
            height: 100%;
            width: 100%;
        }
        .card-header{
            height: 50px;
        }
        .chat-bubble{
            border-radius: 5px;
            padding: 5px;
        }
        .sent{
            float: right;
            color: white;
            max-width: 40rem;
            background-color: rgba(61, 139, 241, 1);
        }
        .received{
            float: left;
            color: black;
            max-width: 40rem;
            background-color: rgba(229, 229, 234, 1);
        }
        .separator{
            clear: both;
            background-color: gray;
        }
        .message-box{
            max-height: 150px;
            overflow: auto;
        }
        [contenteditable=true]:empty:before {
            content: attr(placeholder);
            pointer-events: none;
            color: #636c72;
            display: block; /* For Firefox */
        }
    </style>
    <title>Document</title>
</head>
<body>

    <div class="container-fluid h-100 m-0 my-container">
        <div class="row h-100 my-row">
            <div class="col-3 p-0 my-col">

                <!--
                    Touch ups:
                    1.) Make sidebar card a bluish color with white text
                    2.) Translucent badge counters
                    3.) Make search bar translucent
                -->

                <!--Sidebar card-->
                <div class="card h-100 rounded-0">
                    <div class="card-header">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text bg-white border" id="inputGroup-sizing-sm">
                                <i class="fas fa-search"></i>
                            </span>
                            <input type="search" class="form-control" placeholder="Type to search..." id="search-bar"/>
                        </div>
                    </div>
                    <div class="card-body overflow-scroll p-0" style="height: 1px;">
                        <div class="list-group list-group-flush" id="user-area">
                            <!--Users go here-->
                        </div>
                    </div>
                    <div class="card-footer">
                        <!-- Button toggle for modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUserModal" id="modal-button">
                            <i class="fas fa-user-plus"></i>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="addUserModal" tabindex="-1">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Select a classmate to chat with</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="list-group" id="modal-classmate-area">
                                            <!--Classmate names go here-->
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-9 p-0 my-col">

                <!--Chat card-->
                <div class="card h-100 rounded-0">
                    <div class="card-header" id="recipient-area">
                        <!--Recipient name goes here-->
                    </div>
                    <div class="card-body overflow-auto" style="height: 1px;" id="message-area">
                        <!--Messages go here-->
                    </div>
                    <div class="card-footer">
                        <div id="text-submit" class="form-control message-box" contenteditable="true" placeholder="Message..."></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- content -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>

    {% csrf_token %}
    <script>
        // constants and lists
        const csrftoken = Cookies.get('csrftoken');

        // cache DOM elements
        let userArea_div = document.getElementById("user-area");
        let recipientArea_div = document.getElementById("recipient-area");
        let messageArea_div = document.getElementById("message-area");
        let textSubmitArea_div = document.getElementById("text-submit");
        let modalClassmateArea_div = document.getElementById("modal-classmate-area");
        let modal_btn = document.getElementById("modal-button");
        let searchBar_input = document.getElementById("search-bar");

        // Dynamic HTML templatess
        let createUserElem = function(user, count){
            return `<button type="button" class="d-flex list-group-item list-group-item-action justify-content-between align-items-center">
                        <span class="text-truncate">
                            <i class="fas fa-user-circle me-2"></i>
                            <span>${user.fullName}</span>
                        </span>
                        <span class="badge bg-primary rounded-pill">${count}</span>
                    </button>`;
        }
        let createToElem = function(to){
            return `<p class="fs-4 p-0 m-0">To: <span id="recipient-area">${to}</span></p>`
        }
        let createSentMessageElem = function(message){
            return `<p class="chat-bubble received text-wrap">${message}</p>
                    <div class="separator"></div>`;
        }
        let createReceivedMessageElem = function(message){
            return `<p class="chat-bubble sent text-wrap">${message}</p>
                    <div class="separator"></div>`;
        } 
        let createModalClassmateElem = function(classmate){
            return `<button type="button" class="list-group-item list-group-item-action" data-bs-dismiss="modal">${classmate.fullName}</button>`;
        } 

        function getActiveUser(){

             /*
              * Right now this is just dummy data but in the future
              * this information should be retrieved from local or session storage
              */

            let name = prompt("Enter your name: ");
            let email = prompt("Enter your email: ");
            let obj = {
                fullName: name,
                email: email
            };

            return obj;
        }

        function getClassmates(){

             /*
              * Right now this is just dummy data but in the future
              * this information should be retrieved from the backend database
              */
             
            let classmates = [
                {
                    fullName: "Jacob Bender",
                    email: "jacob.bender@gmail.com"
                },
                {
                    fullName: "Ben Bender",
                    email: "ben.bender@gmail.com"
                },
                {
                    fullName: "Mark Smith",
                    email: "mark.smith@gmail.com"
                },
                {
                    fullName: "Donny LaLa",
                    email: "donny.lala@gmail.com"
                },
                {
                    fullName: "Bill Bob",
                    email: "bill.bob@gmail.com"
                },
                {
                    fullName: "Joe Mamma",
                    email: "joe.mamma@gmail.com"
                },
                {
                    fullName: "Gage Rims",
                    email: "gage.rims@gmail.com"
                }
            ];

            return classmates;
        }

        function updateModalClassmateDiv(classmates){
            modalClassmateArea_div.innerHTML = '';
            // create HTML user list
            for(let i = 0; i < classmates.length; i++){
                let classmate = classmates[i];
                let elem = createModalClassmateElem(classmate, 0)
                modalClassmateArea_div.innerHTML += elem;
            }
        }

        function updateUserAreaDiv(otherUser){
            // create HTML user button
            let elem = createUserElem(otherUser, 0)
            userArea_div.innerHTML += elem;
        }

        function updateRecipientAreaDiv(recipient){
            // create HTML recipient element
            let elem = createToElem(recipient.fullName);
            recipientArea_div.innerHTML = elem;
        }

        async function createNewChat(to, from){
            // POST- update db
            const request = {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', 
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                    from: from,
                    to: to
                })
            };

            const response = await fetch('create/', request);
        }

        async function send(message, activeUser, otherUser){
            // udpate DOM
            messageArea_div.innerHTML += createSentMessageElem(message);

            // POST- update db
            const request = {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', 
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                    message: message,
                    from: activeUser,
                    to: otherUser
                })
            };

            const response = await fetch('load/', request);
        }

        async function poll(activeUser, otherUser){

            /*
             * Only poll for new messages if a recipient has been
             * chosen by the active user, otherwise don't send POST
             * request
             */

            if (Object.keys(otherUser).length !== 0) {
                // POST- retrieve from db
                const request = {
                    method: 'POST',
                    credentials: 'same-origin',
                    headers: {
                        'Accept': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest', 
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify({
                        from: otherUser,
                        to: activeUser
                    })
                };

                // retrieve all unseen messages sent from other user to active user
                const response = await fetch('retrieve/', request);
                const jsonArray = await response.json();

                // update DOM
                for(let i = 0; i < jsonArray.length; i++){
                    let message = jsonArray[i]['message'];
                    messageArea_div.innerHTML += createReceivedMessageElem(message);
                }
            } 
        }

        // attach event handlers
        function main(){
            // get active user
            let activeUser = getActiveUser();
            let classmates = getClassmates();
            let otherUsers = [];
            let otherUser = {};

            // asign event to search bar for fuzzy searching
            searchBar_input.addEventListener('input', (e)=>{
                e.preventDefault();
                let searchVal = e.target.value;

                /*
                * Below we are using Fuse.js fuzzy search algorithm in order
                * to properly implement the search functionality the result of 
                * the search algorithm is an array of values that match the give 
                * search value in order of closest match
                */

                const options = {
                    includeScore: true,
                    keys: ['fullName']
                };
                const fuse = new Fuse(otherUsers, options);
                const result = fuse.search(searchVal);

                if(searchVal !== ''){
                    // show filtered search
                    userArea_div.innerHTML = '';
                    result.forEach( (user) => {
                        updateUserAreaDiv(user.item);
                    });
                } else{
                    // revert back to normal user list
                    userArea_div.innerHTML = '';
                    otherUsers.forEach( (user) => {
                        updateUserAreaDiv(user);
                    });
                }

            }, false);

            // assign event to user button to update list of classmates on modal
            modal_btn.addEventListener('click', (e) => {
                updateModalClassmateDiv(classmates);
            }, false);

            // event delegation for modal buttons
            modalClassmateArea_div.addEventListener('click', (e) => {
                if (e.target === e.currentTarget) return;

                // get index of target button
                let buttons = e.currentTarget.children;
                let index = Array.from(buttons).indexOf(e.target);

                // remove user from classmates and put him into otherUsers list
                otherUser = classmates[index];
                classmates.splice(index, 1);
                otherUsers.push(otherUser);

                // creat new chat
                createNewChat(otherUser, activeUser);

                // update user area
                updateUserAreaDiv(otherUser);
                updateRecipientAreaDiv(otherUser);

                e.stopPropagation();
            }, false);

            // event delegation for user buttons
            userArea_div.addEventListener('click', (e) => {
                if (e.target === e.currentTarget) return;

                // get button element from element that was clicked
                let button = closest(e.target, 'BUTTON');                

                // get index of target button
                let buttons = e.currentTarget.children;
                let index = Array.from(buttons).indexOf(button);

                // update user recipient area
                otherUser = otherUsers[index];
                updateRecipientAreaDiv(otherUser);

                e.stopPropagation();
            }, false);
            
            // assign event handler for input area keypress
            textSubmitArea_div.addEventListener('keypress', (e) => {
                if(e.key === 'Enter'){
                    // prevent default page load on keypress
                    e.preventDefault();
                    // get the current message
                    let message = e.target.innerHTML;
                    // get the placeholder
                    let attr = textSubmitArea_div.getAttributeNode('placeholder');

                    /*
                     * If a recipient has been selected than send them the message
                     * otherwise tell the active user to select a recipient before
                     * sending a message
                     */

                    if (Object.keys(otherUser).length !== 0) {
                        send(message, activeUser, otherUser);
                        attr.textContent = "Message...";
                    } else {
                        attr.textContent = "You must add a user before sending a message...";
                    }

                    /*
                     * Remove the message from the text area after it has been
                     * sent and always keep most recent messages in focus by
                     * scrolling to the bottom of the message area div
                     */
                    
                    e.target.innerHTML = '';
                    messageArea_div.scrollTop = messageArea_div.scrollHeight;
                }
            });

            // poll
            setInterval(() => {
                messageArea_div.scrollTop = messageArea_div.scrollHeight;
                poll(activeUser, otherUser);
            }, 100);
        }

        // run app
        main();



        /*****************************************************************
        UTILITY FUNCTIONS
        ******************************************************************/
        function closest(elem, tagname){
            do {
                if (elem.tagName === tagname) return elem;
                elem = elem.parentNode;
            } while (elem);
        }
    </script>

</body>
</html>



