<!DOCTYPE html>
<html lang="en">
    {%load static %}
<head>
<link rel="stylesheet" href="{% static 'css/messageBoard.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Class Name</h1>
    <div class="baseframe">

        <div class="select_thread_frame">
            <p>
                resources
            </p>
            {% for thread in threadList %}
            <div class="thread_selection_box">

            </div>
            {% endfor %}
        </div>
        <div class="display_thread_frame">
            <p>
                This is the display thread frame
            </p>
        </div>

    </div>

    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    </script>
    {% endblock javascript %}

</body>
</html>