<!DOCTYPE html>
<html lang="en">
    {%load static %}
<head>
<!-- The (now "U") thing at the end of this stylesheet reference forces a refresh
of the stylesheet. When testing and doing frequent updates of the stylesheet it's annoying
to have to clear the cached stylesheet manually. This can be taken out in production.-->
<link rel="stylesheet" href="{% static 'css/messageBoard.css' %}?{% now "U" %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="height=device-height, initial-scale=1.0">
</head>
<body>
    <h1>
        Hello, {{userid}}!
    </h1>
    <button onclick="gotoChatroom(this)">
        Go to My Chatroom
    </button>
    <button onclick="gotoUserpage(this)">
        View My Profile
    </button>
    <div class="board_title">OCTOGON</div>

    <div class="make_thread_btn" onclick="threadcreate(this)">
        Create New Thread
    </div>

    <!-- Frame which contains all thread and post related content -->
    <div class="baseframe">
        
        <!-- Left side of webpage with a list of threads in boxes -->
        <div class="select_thread_frame">

            <!-- Loop through the list of all threads in messageboard and display them on
            the left side of the screen each within their own box -->
            {% for thread in threadList %}
            {% if thread.thread_ID == currentThreadNum %}
            <div id="thread{{thread.thread_ID}}" class="thread_selection_box" onclick="changeThread(this, {{thread.thread_ID}})" 
            style="background: #FFBB99; border: 1px solid #BBBB00;">
            {% else %}
            <div id="thread{{thread.thread_ID}}" class="thread_selection_box" onclick="changeThread(this, {{thread.thread_ID}})">
            {% endif %}
                <div style="color: #666666; font-size: 12px; ">
                    Posted: {{thread.thread_date}}<br>
                    Thread ID: {{thread.thread_ID}}
                </div>
                <div id="threadTopic{{thread.thread_ID}}">
                    {{thread.threadTopic}}
                </div>
                <div style="color: #666666;font-size: 16px; font-weight: normal;">
                    {% for pst in orig_posts %}
                    {% if pst.owning_thread_ID == thread.thread_ID %}
                    {{pst.main_text}}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Right side of webpage with the list of posts for the selected thread -->
        <div class="display_thread_frame">
            <!-- Loop through the list of all posts in thread and display them on
            the right side of the screen each within their own box -->
            {% for post in posts %}
            <div id="post{{post.post_ID}}" class="post_box">
                <div style="font-size: 12px; margin: 2px 2px 2px 2px; color: #666666;">
                    User: {{post.username}}
                </div>
                {% if post.post_ID == 0 %}
                <div style="font-size: 30px; font-weight: bold; text-align: left; margin: 4px 0px 0px 0px">
                {{currentThread.threadTopic}}
                </div><div>
                {% else %}
                <div>
                {% endif %}
                {{post.main_text}}
                </div>
            </div>
            {% endfor %}
            {% if posts %}
            <div style="margin-left: 20px; margin-top: 20px;">
            <form id="postInput" action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
            </div>
            {% endif %}
        </div>

    </div>

    <!-- Script for retreiving the posts for a specific thread when the thread selection
    box is clicked. Causes a webpage request -->
    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    // Used to change the posts displayed when user clicks on thread
    function changeThread(threadBox, ID){
        theURL = document.location.origin + "/messageboard" + "/thread/" + (ID).toString();
        document.location.href = theURL;
    }
    
    // Takes user to thread creation page
    function threadcreate(newThread_div){
        theURL = document.location.origin + "/threadcreate/";
        document.location.href = theURL;
    }

    // Takes user to post creation page
    function gotoChatroom(post_btn_div, ID){
        theURL = document.location.origin + "/chatroom/";
        document.location.href = theURL;
    }

    // Takes user to post creation page
    function gotoUserpage(post_btn_div, ID){
        theURL = document.location.origin + "/profilepage/";
        document.location.href = theURL;
    }

    // Takes user to post creation page
    function postcreate(post_btn_div, ID){
        theURL = document.location.origin + "/newpost/" + (ID).toString();
        document.location.href = theURL;
    }
    </script>
    {% endblock javascript %}

</body>
</html>